<h2>Produtos disponiveis em estoque</h2>
<hr>
{{#with loja}}
<h2>Produtos disponiveis</h2>
<a href="/monitor">{{Monitores}}</a>
<a href="/mouse">{{Mouses}}</a>
<a href="/teclado">{{Teclados}}</a>
<a href="/gabinete">{{Gabinetes}}</a>
{{/with}}
<hr>