<h1>Registrar jornada</h1>

<form action="/jornada/add-registro" method="post" class="form">
    <div class="form-control">
        <label for="hr_start">Inicial</label>
        <input type="text" name="hr_start" placeholder="Inicio da jornada">
    </div>

    <div class="form-control">
        <label for="hr_end">Final</label>
        <input type="text" name="hr_end" placeholder="Fim da Jornada">
    </div>

    <input type="submit" value="Registrar">
</form>