<h1>Registrar Km/s</h1>

<form action="/routes/add-kms" method="post" class="form">
    <div class="form-control">
        <label for="start">Inicial</label>
        <input type="number" name="start" placeholder="Kms do inicio da jornada">
    </div>

    <div class="form-control">
        <label for="end">Final</label>
        <input type="number" name="end" placeholder="Kms final da jornada">
    </div>

    <input type="submit" value="Registrar">
</form>