<h1>Lista Total</h1>

<div class="kms-cotainer">
{{#each kms}}
<div id="table">
    <table>
        <thead>
          <th>Total</th>  
        </thead>
        <tbody>
            <td>{{this.total_kms}}</td>
        </tbody>
    </table>
</div>
{{/each}}
</div>