<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Frotas</title>
</head>
<body>
    <nav id="navbar">
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/routes/kms">Registrar KM/s</a></li>
        <li><a href="/routes/listkms">Lista de KM/s</a></li>
        <li><a href="/routes/total">Lista de total</a></li>

        
    </ul>
    </nav>
    {{{body}}}
</body>
</html>